$primary-color: #4eb780;
$primary-highlight: #3d9567;
$content-color: #565b65;
$content-header: #45474c;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#header {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: $primary-color;
  text-align: center;
  padding: 15em 1em;
  color: #fff;

  h1 {
    font-family: "Pacifico", cursive;
    font-weight: 100;
    font-size: 4.5em;
    margin: 0;
  }

  h2 {
    font-weight: 300;
    font-size: 2em;
    margin: 15px 0 10px 0;
  }

  a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 10px 15px;
    margin: 15px 10px 0 10px;
    border: 2px solid #fff;
  }

  a:hover {
    color: $primary-color;
    background-color: #fff;
  }
}

#content {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding: 30px 15px;
  max-width: 750px;
  margin: 0 auto;
  color: $content-color;

  h2 {
    color: $content-header;
    font-size: 2em;
    margin: 15px 0 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2dfdf;
  }

  h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: $content-header;
  }

  p {
    font-size: 0.9em;
    line-height: 1.5;
  }

  a {
    text-decoration: none;
    color: $primary-color;
  }

  a:hover {
    text-decoration: underline;
  }

  table {
    width: 100%;
    border: 1px solid #BFC4CE;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    
    th, td {
      padding: 10px;
      border-right: 1px solid #BFC4CE;
    }

    tr {
      border-bottom: 1px solid #BFC4CE;
    }

    tr:nth-child(2n) {
      background-color: #EFEFEF;
    }
  }

  .button-filled {
    display: inline-block;
    margin: 15px 0;
    color: #fff;
    background-color: $primary-color;
    padding: 10px 20px;
  }
  
  .button-filled:hover {
    text-decoration: none;
    background-color: $primary-highlight;
  }

  .button-outlined {
    text-decoration: none;
    display: inline-block;
    color: $primary-color;
    padding: 10px 20px;
    margin: 15px 0;
    border: 2px solid $primary-color;
  }

  .button-outlined:hover {
    text-decoration: none;
    color: $primary-color;
    background-color: #EFEFEF;
  }
}

#footer {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding: 3em 0;
  background-color: #252832;
  text-align: center;

  a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 10px;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 480px) {
  #header {
    padding: 2em 0;

    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 1.3em;
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  #header {
    padding: 6em 0;

    h1 {
      font-size: 3.5em;
    }

    h2 {
      font-size: 1.5em;
    }
  }
}
